// Global styles.
h1 {
  @extend .d-block;
  @extend .relative;
  @extend .p-1;

  &::before {
    content: '#';
    position: absolute;
    right: 100%;
    bottom: 0;
    line-height: 1.8;
    @extend .ta-right;
    @extend .tw-light;
    @extend .t-0;
    @extend .p-1;
    @extend .cg-6;
  }
}

h2 {
  @extend .d-block;
  @extend .relative;
  @extend .p-1;

  &::before {
    content: '##';
    position: absolute;
    right: 100%;
    bottom: 0;
    line-height: 1.8;
    @extend .ta-right;
    @extend .tw-light;
    @extend .t-0;
    @extend .p-1;
    @extend .cg-6;
  }
}

[contenteditable='true'] {
  outline: none;
}

// Theme-specific styles.
.markdown {
  line-height: 1.5;

  h1 {
    @extend .t-3;
    @extend .tw-bold;
  }

  h2 {
    @extend .t-2;
    @extend .tw-bold;
  }

}
